{% extends 'quotes/base.html' %}
{% load extract_authors %}

{% block content %}

<div class="row">
    <div class="col-md-8">
    
    {% for quote in quotes %}

    <div class="quote ms-5" itemscope="" itemtype="http://schema.org/CreativeWork">
        <span class="text" itemprop="text">
            {{quote.quote}}
            <span style="float: right;">
                {% if user.is_authenticated and quote.user == user %}
                <button class="delete-button" data-quote-id="{{ quote.id }}">DELETE</button>
                {% endif %}
            </span>
        </span>
        
        <span>
            by <small class="author" itemprop="author">{{ quote.author|author }}</small>
            <a href="{% url 'quotes:author_detail' author_id=quote.author.id %}" target="_self">(about)</a>
        </span>
        
        <div class="tags">
            Tags:
            <meta class="keywords" itemprop="keywords" content="{% for tag in quote.tags.all %}{{ tag.name }},{% endfor %}">
            {% for tag in quote.tags.all %}
                <a class="tag" href="{% url 'quotes:tag_quotes' tag_name=tag.name %}">{{ tag.name }}</a>
            {% endfor %}
        </div>

    </div>
    
    {% endfor %}

    <nav>
        <ul class="pager">
           
            <li class="previous" class="btn btn-secondary">
                <a class="{% if not quotes.has_previous %} disabled {% endif %}"
                href="{% if quotes.has_previous %} {% url 'quotes:root_paginate' quotes.previous_page_number %} {% else %} # {% endif %}">
                    <span aria-hidden="true">←</span> Previous</a>
            </li>
                    
            <li class="next" class="btn btn-secondary">
                <a class="{% if not quotes.has_next %} disabled {% endif %}"
                href="{% if quotes.has_next %} {% url 'quotes:root_paginate' quotes.next_page_number %} {% else %} # {% endif %}">
                Next <span aria-hidden="true">→</span></a>
            </li>

        </ul>        
    
    </nav>
    
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function() {
        $('.delete-button').on('click', function() {
            var quoteId = $(this).data('quote-id');
            if (confirm('Are you sure you want to delete this quote?')) {
                $.ajax({
                    url: '/delete_quote/' + quoteId + '/',
                    type: 'DELETE',
                    headers: {'X-CSRFToken': getCookie('csrftoken')},  // Доданий CSRF-токен
                    success: function(response) {
                        // Оновіть інтерфейс, вилучивши цитату з DOM
                        console.log(response.message);  // Вивести повідомлення у консоль
                        $(this).closest('.quote').remove();  // Видалити цитату з DOM
                    },
                    error: function(error) {
                        console.error('Error deleting quote', error);
                    }
                });
            }
        });

        // Функція для отримання CSRF-токена з куки
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Шукаємо куку з ім'ям <csrftoken>
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    });
</script>

{% endblock %}